.wrapper
{
    margin-left: 25%;
}
#calcScreen
{
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: #98d3a7;
    height: 50px;
    width: 270px;
}
#calcScreen p
{
    text-align: center;
    padding: 14px;
}
.button
{
    margin-bottom: 10px;
    height: 40px;
    width: 65px;
}
.calcKeys
{
    width: 50%;
    height:50%;
}
#keyPlain
{
    margin-left: 30%;

}
#button14
{
 background-color: #747a6f  ;
}
#button24
{
    background-color: #747a6f  ;
}
#button34
{
    background-color: #747a6f  ;
}

